---
import ThemeButton from "../common/ThemeButton";
---

<div id='header' class='w-full h-12 flex items-center justify-between'>
  <div></div>
  <a href='/'>
    <img class='' src={'/pokemon_logo.png'} width='160' height='59' alt='pokemon logo' />
  </a>
  <ThemeButton client:visible />
</div>
