@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SourceCode';
  src: url('/fonts/SourceCodePro-Light.ttf');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'SourceCode';
  src: url('/fonts/SourceCodePro-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'SourceCode';
  src: url('/fonts/SourceCodePro-Medium.ttf');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'SourceCode';
  src: url('/fonts/SourceCodePro-ExtraBold.ttf');
  font-weight: 800;
  font-display: swap;
}

:root {
  --primary-text-color: #7f7f7f;
  --second-text-color: #bab9b9;
  --bg-color: #414141;
  --second-bg-color: #515151;
  --border-color: #7f7f7f;
  --active-border-color: #a1a1a1;
  --recent-search-color: #a1a1a1;
}

body.light {
  --primary-text-color: #1f1f1f;
  --second-text-color: #636262;
  --bg-color: #3d7dca;
  --second-bg-color: #ffcb05;
  --border-color: #3b5ba7;
  --active-border-color: #003a70;
  --recent-search-color: #ffcb05;
}
