---
import {Image} from "@astrojs/image/components";
import { BiSearch } from "react-icons/bi";
import pokeballImage from './src/images/pokeball.png'
---

<form class='relative block w-full h-full' method='post' onsubmit='return redirectPokemon()'>
  <BiSearch
    size={'24'}
    className='pointer-events-none absolute top-1/2 left-2 -translate-y-1/2 transform text-primary-text-color'
  />
  <input
    class='w-full rounded-3xl border-2 border-border-color bg-second-bg-color h-full px-10 text-second-text-color placeholder:text-second-text-color focus:border-active-border-color focus:outline-none selection:focus:outline-none'
    placeholder='Find a pokemon...'
  />
  <button type='submit'>
    <Image
      class='absolute top-1/2 right-3 -translate-y-1/2 transform cursor-pointer'
      alt='pokeball'
      width='30'
      height='30'
      src={pokeballImage}
    />
  </button>
</form>

<script is:inline>
  {
    function redirectPokemon() {
      const input = document.querySelector('input')
      const pokemon = input.value.toLowerCase()
      console.log(pokemon)
      window.location.href = `/${pokemon}`
      return false
    }
  }
</script>
